<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimal-ui,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:image" content="https://lh3.googleusercontent.com/L0bB3_n3EMvtjC1umpXFnjRhLgTG-48VeNfg0Jb_AAJmO5BB1QDY0yOh5WFUn01PeSRfHyJjBi63wo9vwvMl6fI=s0">
    <meta property="og:type" content="website">
    <meta itemprop="image" content="https://lh3.googleusercontent.com/L0bB3_n3EMvtjC1umpXFnjRhLgTG-48VeNfg0Jb_AAJmO5BB1QDY0yOh5WFUn01PeSRfHyJjBi63wo9vwvMl6fI=s0">
    <meta name="theme-color" content="#4054B2">
    <meta name="google-site-verification" content="hdNm7Y9BYbedubJAzTYpk6wszJ8tBtqzAPu0M8ygYmQ">
    <link href="<%= require('../assets/images/icon.png') %>" rel="shortcut icon">
    <meta name="theme-color" content="#00BFA5">
    <link rel="apple-touch-icon" sizes="192x192" href="<%= require('../assets/images/icon.png') %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Digital Garage">
    <meta name="apple-itunes-app" content="app-id=1206273386">
    <link rel="manifest" href="web-manifest.json">
</head>
