<!DOCTYPE html>
<html lang="en">
<%- include head -%>
<body class="authenticated">
    <header class="header">
        <div class="header__logo">
            <button type="button" class="header__mobile-nav-button jsOpenNav"><i class="material-icons">menu</i></button>
            <a href="/dashboard.html"><img src="<%= require('../assets/images/logo.png') %>" /></a>
        </div>
        <nav class="nav">
            <div class="nav__user">
                <i class="nav__user__avatar"></i>
                <h4 class="nav__user__username">Simon</h4>
            </div>
            <a href="javascript:void(0);" class="nav__close jsCloseNav"><i class="material-icons">close</i></a>
            <a href="/dashboard.html" class="nav__link nav__link--show-mobile"><i class="show-mobile material-icons">dashboard</i> My Dashboard</a>
            <a href="javascript:void(0);" class="nav__link" onClick="ripple(event);"><i class="show-mobile material-icons">library_books</i> Topic Library</a>
            <a href="javascript:void(0);" class="nav__link" onClick="ripple(event);"><i class="show-mobile material-icons">school</i> Certification</a>
            <hr />
            <a href="javascript:void(0);" class="nav__link nav__link--show-mobile" onClick="ripple(event);"><i class="show-mobile material-icons">work</i> Tools</a>
            <a href="javascript:void(0);" class="nav__link" onClick="ripple(event);"><i class="show-mobile material-icons">date_range</i> Local Coaching</a>
            <a href="javascript:void(0);" class="nav__link" onClick="ripple(event);"><i class="show-mobile material-icons">people</i> Partners</a>
            <a href="javascript:void(0);" class="nav__link" onClick="ripple(event);"><i class="show-mobile material-icons">people</i> Action Plan</a>
            <a href="javascript:void(0);" class="nav__link nav__link--show-mobile" onClick="ripple(event);"><i class="show-mobile material-icons">help</i> Help &amp; FAQs</a>
            <a href="javascript:void(0);" class="nav__link nav__link--show-mobile" onClick="ripple(event);"><i class="show-mobile material-icons">chat_bubble</i> Feedback</a>
            <hr />
            <a href="javascript:void(0);" class="nav__link nav__link--show-mobile" onClick="ripple(event);"><i class="show-mobile material-icons">settings</i> My Profile</a>
            <a href="/" class="nav__link nav__link--show-mobile" onClick="ripple(event);"><i class="show-mobile material-icons">exit_to_app</i> Sign out</a>
        </nav>
        <div class="nav__shadow"></div>
    </header>
