<%- include views/partials/header-authenticated -%>
<main class="lesson">
    <h1>Lesson</h1>
    <button class="button button--primary jsPlayVideo">Play Video Test</button>
</main>
<%- include views/partials/footer -%>
