@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'Google Sans Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/google-sans-display.ttf');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/google-sans.ttf');
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

h1, h2, h3, h4, h4 {
    color: #616161;
    font-family: "Roboto Slab", Georgia, sans-serif;
}

a {
    @extend %transition-color;
    color: rgb(63, 81, 191);
    text-decoration: none;
    &:hover {
        color: lighten(rgb(63, 81, 191), 10%);
    }
}

p {
    color: #616161;
}
